html {
  font-family: poppins;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  background-color: #f1f1f1;
  gap: 50px;
}
/* ============================= */
/*          main content         */
/* ============================= */
.main-content {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
  height: 100%;
}

button {
  margin-top: 10px;
  width: 250px;
  height: 25px;
  font-size: large;
  border: none;
  border-radius: 100px;
  color: #e1d7d5ff;
  background-color: #070504ff;
  cursor: pointer;
}
button :active {
  color: #070504ff;
  background-color: #e1d7d5ff;
}
p {
  font-size: 15px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
h2 {
  font-size: 30px;
  color: #070504ff;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
.input {
  display: grid;
  justify-content: center;
  align-items: center;

  margin-bottom: 2vh;
}
.input input {
  width: 250px;
  height: 25px;
  border-color: #070504ff;
  background-color: #f1f1f1;
  border-radius: 100px;
  padding-right: 10px;
  margin-top: 10px;
}
h3 {
  padding-right: 10px;
  margin-bottom: 1vh;
  z-index: 1;
  position: relative;
}

/* ============================= */
/*          image content        */
/* ============================= */
.image-content {
  display: grid;
  justify-content: center;
  align-items: center;
}
.image1 {
  background-size: cover;
  background-position: center;
  z-index: -10;
  width: auto;
  height: 100%;
  margin-top: -50vh;
}
h1 {
  font-size: 48px;
  color: #070504ff;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
/* .image1 img {
  width: 600px;
  height: auto;
  margin-top: 10px;
} */
.thumbnail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: auto;
  z-index: 1;
  position: relative;
  margin-top: -15vh;
}
.thumbnail img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
}
.thumbnail img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}
